{% extends "base.html" %} 

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
        <div class="p-3"> 
            <div class="row">
                <a class="btn btn-add-workout btn-block" href="{{ url_for('upload_workout') }}" role="button" aria-expanded="false">Upload Workout</a>
            </div>
            <div class="row my-2">
                <a class="btn btn-add-workout btn-block" href="{{ url_for('add_workout') }}" role="button" aria-expanded="false">Create Workout</a>
            </div>
            <div class="row my-2">
                <a class="btn btn-add-workout btn-block" href="{{ url_for('add_workout') }}" role="button" aria-expanded="false">Exercise History</a>
            </div>
        </div>
</div>

<!-- Barra in basso per aggiungere workout -->
<div class="bottom-bar">
    <a class="btn btn-back btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}


