{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container">   
    <style>
        #description {
            width: 100%;
            min-height: 300px;
            max-height: 70vh;
            box-sizing: border-box;
        }

        /* Smartphone */
        @media (max-width: 768px) {
            #description {
                min-height: 180px;
                max-height: 50vh;
            }
        }
    </style>
    <div class="row">
        <h1 class="text-center w-100 mb-4">Add Workouts</h1> <!-- 'w-100' assicura che l'intestazione occupi tutta la larghezza -->
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="POST" action="{{ url_for('add_workout') }}">
                {{ form.csrf_token() }}
                {{ render_field(form.date, class_="form-control") }}
                {{ render_field(form.name, class_="form-control") }}
                {{ render_field(form.description, class_="form-control") }}
                {{ render_field(form.ranges1, class_="form-control") }}
                {{ render_field(form.ranges2, class_="form-control") }}
                {{ render_field(form.ranges3, class_="form-control") }}
                
                 <!-- Pulsante Add Workout centrale -->
                 <div class="d-flex justify-content-center mt-4">
                    {{ render_field(form.submit, class_="btn-add-workout") }}
                </div>
            </form>
        </div>
    </div>
    
</div>
       
  
<!-- Barra in basso per aggiungere workout -->
<div class="bottom-bar">
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
         
    
         
    
       
     
        
       
