
{% extends "base.html" %} 

<style>
    .unlock-code {
        cursor: pointer;
        color: #fff; /* Cambia colore se necessario */
        text-decoration: underline; /* Indica che è interattivo */
    }
    .unlock-code:hover {
        color: #fff; /* Colore al passaggio del mouse */
    }
</style>

{% block content %}
    <style>
        td  {font-size: small;}
        th  {font-size: medium;}
    </style>
    <div class="container">
        <h1 class="text-center">{{title}}</h1>
        <div class="row mt-3">
            <div class="col-12">
                {% if users is not none %}
                    <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th> Username </th>
                            <th> Email  </th>
                            <th> Last login </th>
                            <th> Created at </th>
                            <th> Enabled </th>
                            <th> Key </th>
                            <th> Demo  Mode </th>
                            <th> Delete </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for u in users %}
                        {% if not u.is_superuser%}
                        <tr class="align-middle">
                            <td> {{u.username }}</td>
                            <td> {{u.email }}</td>
                            <td>{% if u.last_login %} {{ u.last_login.strftime("%d/%m/%Y %H:%m") }} {% else %} None {% endif %}</td>
                            <td>{% if u.created_at %} {{ u.created_at.strftime("%d/%m/%Y %H:%m") }} {% else %} None {% endif %}</td>
                            
                            <td>
                                <form action="{{ url_for('manage_user', id=u.id) }}" method="post" style="display: inline;">
                                    <button type="submit" aria-expanded="false" aria-label="Abilita/Disabilita utente" class="btn btn-link">
                                        <i class="{{ u.toggle_icon }}"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <span class="unlock-code" onclick="copyToClipboard('{{ u.unlock_code }}')">
                                    {{ u.unlock_code }}
                                </span>
                                <form action="{{ url_for('generate_unlock_code', id=u.id) }}" method="post" style="display: inline;">
                                    <button type="submit" aria-expanded="false" aria-label="key utente" class="btn btn-link text-warning">
                                         <i class="bi bi-arrow-clockwise"></i>
                                    </button>
                                </form>
                            </td>

                            <td>
                                <form action="{{ url_for('demo_mode_user', id=u.id) }}" method="post" style="display: inline;">
                                    <button type="submit" aria-expanded="false" aria-label="Abilita/Disabilita demo utente" class="btn btn-link">
                                        <i class="{{ u.demo_toggle_icon }}"></i>
                                    </button>
                                </form>
                            </td>

                            <td>
                                <form action="{{ url_for('delete_user', id=u.id) }}" method="post" style="display: inline;">
                                    <button type="submit" aria-expanded="false" aria-label="Rimuovi utente" class="btn btn-link">
                                        <i class="bi bi-x text-danger"></i>
                                    </button>
                                </form>
                            </td>



                            
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% else %}
                    <p>No users found.</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

<script>
    // Funzione per copiare il codice nella clipboard
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            console.log('Codice copiato nella clipboard: ' + text); // Facoltativo: mostra un messaggio di conferma
        }).catch(function(error) {
            console.log('Errore nel copiare il codice: ' + error);
        });
    }
</script>

<!-- Barra in basso per aggiungere workout -->
<div class="bottom-bar">
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
