{% extends "base.html" %}

{% block content %}


<div class="container px-2">
  {% if user.is_superuser %}
  <h1 class="text-center mb-4">Admin Dashboard</h1>

  <div class="row g-3">
    <div class="col-12 col-md-4">
      <div class="bg-dark p-3 rounded">
        <h5 class="text-warning">Atlets  Statistics</h5>
        <ul class="list-unstyled">
          <li> <h6 class="text-white-50">Total Atlets  </h6> {{ total_users }} </li>
          <li class="mt-2"> <h6 class="text-white-50">Active Atlets  </h6>{{ active_users }}</li>
          <li class="mt-2"> <h6 class="text-white-50">New Atlets  (30 days) </h6>{{ new_users }} </li>
        </ul>
        <a class="btn btn-outline-primary btn-block" href="{{ url_for('admin_users') }}" role="button" aria-expanded="false">Atlets List</a>

      </div>
      

    </div>

    <div class="col-12 col-md-4">
      <div class="bg-dark p-3 rounded">
        <h5 class="text-warning">Workout Analytics</h5>
        <ul class="list-unstyled">
          <li><h6 class="text-white-50">Total Workouts </h6> {{ total_workouts }} </li>
          <li class="mt-2"><h6 class="text-white-50">Monthly Workouts </h6> {{ workouts_this_month }} </li>
          <li class="mt-2"><h6 class="text-white-50">Last Workout Added</h6> {{ most_active_workout_type }} </li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="bg-dark p-3 rounded">
        <h5 class="text-warning">System Health</h5>
        <ul class="list-unstyled">
          <li> <h6 class="text-white-50"> Server Uptime  </h6> {{ server_uptime }}</li>
          <li class="mt-2"> <h6 class="text-white-50"> DB Connections </h6> {{ db_connections }}</li>
          <li class="mt-2"> <h6 class="text-white-50"> Last Backup </h6> {{ last_backup }} </li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="bg-dark p-3 rounded">
        <h5 class="text-warning">Database Tools</h5>
        <ul class="list-unstyled">
          <li> 
            <a class="btn btn-add-workout" style="min-width: 90px;" href="{{ url_for('export_csv') }}" role="button">Export</a>
          </li>
          <li class="mt-2"> 
            <form method="POST" action="{{ url_for('import_csv') }}" enctype="multipart/form-data">
              <label class="btn btn-add-workout mb-0" style="min-width: 90px; cursor: pointer;">
                Import
                <input type="file" name="csv_file" accept=".csv,text/csv" onchange="this.form.submit()" hidden>
              </label>
            </form>  
          </li>
        </ul>
      </div>
    </div>
  </div>


      
      

  <div class="row mt-3">
    <div class="col-12">
      <div class="bg-dark text-warning p-3 rounded">
        <h5>Recent Activities</h5>
        <form method="get" class="row g-2 align-items-end mb-3">
          <div class="col-auto">
            <label class="form-label mb-0" for="log_date">Giorno log</label>
            <input type="date" class="form-control" id="log_date" name="log_date" value="{{ log_date }}">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-action">Filtra</button>
          </div>
          <div class="col-auto">
            <a class="btn btn-action" href="{{ url_for('admin_dashboard') }}">Reset</a>
          </div>
        </form>
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>Action</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for activity in recent_activities %}
              <tr>
                <td>{{ activity.user }}</td>
                <td>{{ activity.action }}</td>
                <td>{{ activity.timestamp.strftime("%H:%M %d/%m") }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="bottom-bar fixed-bottom">
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
