{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
  <h1 class="text-center">Registrazione Coach</h1>
  <form method="POST" action="{{ url_for('register_admin') }}">
    {{ form.csrf_token() }}   
    {{ render_form(form, button_map={'submit':'add-workout'}) }}

  </form>
  <hr>
  <div class="row">
    <div class="col-12 text-center">
      <a href="{{ url_for('login') }}" class="btn btn-back btn-block mt-1">Login</a>
    </div>
  </div>
</div>
{% endblock %}

