{% extends "base.html" %}

{% block content %}

<div class="container">
   <a href="{{ url_for('dashboard') }}" style="text-decoration: none;">
      <h1>{{ title }}</h1>
    </a>

  {% include "month_slider.html" %}
  
  {% if workouts %}
  <div class="accordion" id="workoutAccordion">
    {% for workout in workouts %}
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="heading{{ loop.index }}">
        <button class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse{{ loop.index }}" 
                aria-expanded="false" 
                aria-controls="collapse{{ loop.index }}">
          {{ workout.name }}
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" 
           class="accordion-collapse collapse" 
           aria-labelledby="heading{{ loop.index }}" 
           data-bs-parent="#workoutAccordion">
        <div class="accordion-body">
          {% if workout.description %}
            <p class="note mb-0">{{ workout.description | nl2br}}</p>
          {% endif %}
          <hr>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm">
              <a  href="{{ url_for('add_performance', id=workout.id) }}" class="btn-edit" aria-label="Add Performance">
                <i class="bi bi-graph-up-arrow"></i>
              </a>
              <a href="{{ url_for('edit_workout', id=workout.id) }}" class="btn-edit mx-2" aria-label="Modify Workout">
                <i class="bi bi-pencil-square"></i>
              </a>
              <form action="{{ url_for('delete_workout', id=workout.id) }}" method="post" style="display: inline;">
                <button type="submit" class="btn-delete" aria-label="Delete Workout">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    {% if user.is_superuser %}
      <div class="d-flex justify-content-center align-items-center mt-5">
        <a class="btn btn-add-workout" style="min-width: 110px;" href="{{ url_for('add_workout') }}" role="button">
          Add Workout
        </a>
      </div>
       <div class="d-flex justify-content-center align-items-center mt-3">
        <a class="btn btn-add-workout" style="min-width: 110px;" href="{{ url_for('add_weekly_workouts') }}" role="button">
          Add Weekly Workouts
        </a>
      </div>
    {% else %}
      <p class="text-center mt-5">{{ random_rest_message() }}</p>
    {% endif %}
  {% endif %}
</div>
<footer>
  {% if workouts %}  
    <p style="color: darkgrey;">{{ random_motivational_phrase() }}</p>
  {% endif %}
</footer>



<!-- Bottom bar for adding new workouts -->
<div class="bottom-bar">
  <div class="d-flex justify-content-center gap-2">
    <a class="btn btn-add-workout" style="min-width: 110px;" href="{{ url_for('menu') }}" role="button">
      Menu
    </a>
  </div>
</div>

{% endblock %}
