{% extends "base.html" %}

{% block content %}

<div class="container">
   <a href="{{ url_for('dashboard') }}" style="text-decoration: none;">
      <h1>
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="{{ title }}" class="brand-logo">
      </h1>
    </a>

  {% include "month_slider.html" %}
  
 
  {% if not current_user.is_enabled %}
    <p class="text-center mt-5">Atleta non abilitato</p>
    <p class="text-center mt-5">Attendi che il supremo coach ti ritenga degno</p>
  {% elif workouts %}
  <div class="accordion" id="workoutAccordion">
    {% for workout in workouts %}
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" id="heading{{ loop.index }}">
        <button class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse{{ loop.index }}" 
                aria-expanded="false" 
                aria-controls="collapse{{ loop.index }}">
          {{ workout.name }}
        </button>
      </h2>
      <div id="collapse{{ loop.index }}" 
           class="accordion-collapse collapse" 
           aria-labelledby="heading{{ loop.index }}" 
           data-bs-parent="#workoutAccordion">
        <div class="accordion-body">
          {% if workout.description %}
            <p class="note mb-0">{{ workout.description | nl2br}}</p>
          {% endif %}
          {% set ranges_groups = workout.get_ranges_by_user() %}
          {% if ranges_groups %}
            <hr>
            {% for group in ranges_groups %}
              <p class="mb-1">
                {% if not group['user_exercise'] %}
                  <small class="text-secondary">
                    Massimale di {{ group['exercise'] }} non trovato, quando cazzo ti decidi a registrarlo?
                    <a href="{{ url_for('user_stats') }}" role="button">Inserisci 1RM</a>
                  </small>
                {% else %}
                  <small class="text-secondary">In base al tuo RM di {{ group['user_exercise'] }} 
                    {% if group['user_exercise'] == "Dips" %} di {% else %} a {% endif %}
                    
                    {{ group['user_weight'] }} 
                  
                    {% if group['user_exercise'] == "Dips" %} reps {% else %} Kg {% endif %}
                  </small>
                  <ul class="list-group list-group-horizontal">
                    {% for range in group['ranges'] %}
                      <li 
                        class="list-group-item bg-dark text-secondary" 
                        style="border: 0px!important"
                      >
                        {{ range }}
                        {% if group['user_exercise'] == "Dips" %} reps {% else %} Kg {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </p>
              {% if not loop.last %}
                <hr class="my-1">
              {% endif %}
            {% endfor %}
          {% endif %}
          <hr>
          <div class="btn-toolbar w-100" role="toolbar">
            <div class="btn-group btn-group-sm">
              <a  href="{{ url_for('add_performance', id=workout.id) }}" class="btn-action" aria-label="Add Performance">
                <i class="bi bi-graph-up-arrow"></i>
              </a>
            </div>
            {% if user.is_superuser %}
            <div class="btn-group btn-group-sm ms-auto">
              <a href="{{ url_for('edit_workout', id=workout.id) }}" class="btn-action mx-2" aria-label="Modify Workout" style="color: cadetblue; border: 1px solid cadetblue;">
                <i class="bi bi-pencil-square"></i>
              </a>
              <form action="{{ url_for('delete_workout', id=workout.id) }}" method="post" style="display: inline;">
                <button type="submit" class="btn-delete" aria-label="Delete Workout">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    {% if user.is_superuser %}
      <div id="workout-day"class="d-flex justify-content-center align-items-center mt-5">
        <a class="btn btn-outline-primary" style="min-width: 195px;" href="{{ url_for('add_workout') }}" role="button">
          Add Workout
        </a>
      </div>
       <div id="workout-week"class="d-flex justify-content-center align-items-center mt-3">
        <a class="btn btn-outline-primary" style="min-width: 110px;" href="{{ url_for('add_weekly_workouts') }}" role="button">
          Add Weekly Workouts
        </a>
      </div>
    {% endif %}
  {% endif %}
</div>


<footer>
  {% if workouts %}  
    <p style="color: darkgrey;">{{ random_motivational_phrase() }}</p>
  {% else %}
    <p style="color: darkgrey;">{{ random_rest_message() }}</p>
  {% endif %}
</footer>



<!-- Bottom bar for adding new workouts -->
<div class="bottom-bar">
  <div class="d-flex justify-content-center gap-2">
    <a class="btn btn-add-workout" style="min-width: 110px;" href="{{ url_for('menu') }}" role="button">
      Menu
    </a>
  </div>
</div>

{% endblock %}
