{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-3">Edit 1RM</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form method="POST" action="{{ url_for('edit_stat', id=stat_id) }}">
                {{ form.csrf_token() }}
                {{ render_field(form.date, class_="form-control") }}
                {{ render_field(form.exercise, class_="form-control") }}
                {{ render_field(form.weight, class_="form-control") }}
                {{ render_field(form.reps, class_="form-control") }}
                <div class="d-flex justify-content-center mt-3">
                    {{ render_field(form.submit, class_="btn-add-workout") }}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bottom-bar">
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('user_stats') }}" role="button" aria-expanded="false">Back</a>
</div>
{% endblock %}
