{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<style>
    legend {
        color: #ffcc33;
    }
    h1 {
        font-size: 30px;
    }
</style>
<div class="container">
    <h1 class="text-center mb-3">Advice For Exercise Workout {{ workout.date.strftime('%d/%m/%Y') }}</h1>
    <hr>
    <h3 class="text-center">
        {{exercise.name}}  &nbsp; <small class="text-center text-white-50"> {{ exercise.repetitions }}</small>
    </h3>
    
    <hr>
    {% if exercises %}
    {% for e in exercises %}
    <span>
        {{ e.get_workout().date.strftime("%d/%m/%Y") }}&nbsp; - &nbsp;  {{e.name}} &nbsp; 
        <small class="text-white-50"> {{e.repetitions}} </small>&nbsp;|&nbsp; <small class="text-end"> {{ e.weight }} Kg  {{e.score}}</small> <br>
    </span>    
    {% endfor %}
    <hr>
    {% endif %}
    <p>
        <small>
            {{advice}}
        </small>
    </p>
    <hr>
    {% include "rm_calculator.html" %}

</div>

<!-- Barra in basso per aggiungere workout -->
<div class="bottom-bar">
    <a class="btn btn-back btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
         
    
         
    
       
     
       