{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<style>
    legend {
        color: #fff;
    }
    h1 {
        font-size: 30px;
    }
</style>
<div class="container">
    <h1 class="text-center mb-3">Advice For Exercise Workout {{ workout.date.strftime('%d/%m/%Y') }}</h1>
    <hr>
    <h3 class="text-center">
        {{exercise.name}}  &nbsp; <small class="text-center text-white-50"> {{ exercise.repetitions }}</small>
    </h3>
    
    <hr>
    {% if exercises %}
    {% for e in exercises %}
    <span>
        {{ e.get_workout().date.strftime("%d/%m/%Y") }}&nbsp; - &nbsp;  {{e.name}} &nbsp; 
        <small class="text-white-50"> {{e.repetitions}} </small>&nbsp;|&nbsp; <small class="text-end"> {{ e.weight }} Kg  {{e.score}}</small> <br>
    </span>    
    {% endfor %}
    <hr>
    {% endif %}
    <p>
        <small>
            {{advice}}
        </small>
    </p>
    <hr>
    {% include "rm_calculator.html" %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Video Esercizio
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    {% for v in video_links %}
                    <div class="col-md-4 mb-3">
                        <div class="card text-bg-dark">
                            <img src="https://img.youtube.com/vi_webp/{{v.link}}/default.webp" class="card-img-top" alt="{{ v.exercise }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ v.exercise }}</h5>
                                <a href="https://www.youtube.com/watch?v={{v.link}}" target="_blank" class="btn btn-add-workout">Guarda Video</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        </div>
      </div>



</div>

<!-- Barra in basso per aggiungere workout -->
<div class="bottom-bar">
    <a class="btn btn-outline-primary btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
         
    
         
    
       
     
       
