{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container text-center">
    <style>
        .btn, input[type="submit"] {
            width: 100px!important;
            width: auto;  /* Imposta la larghezza automatica */
            display: inline-block;  /* Permette di centrare gli elementi */
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

    <h1>
        <img src="{{ url_for('static', filename='logo_christmas.png') }}" alt="{{ title }}" class="brand-logo">
    </h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token() }}
        {{ render_form(form, button_map={'submit':'outline-primary'}) }}
    </form>
    <a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-block mt-3">Registrati</a>
</div>
{% endblock %}

