{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center">{{ title }}</h1>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="d-grid gap-3">
        {% if current_user.is_authenticated and current_user.is_superuser %}
        <a class="btn btn-outline-primary" href="{{ url_for('admin_dashboard') }}" role="button">
          I'M THE COACH
        </a>
        <a class="btn btn-outline-primary" href="{{ url_for('admin_delete_workouts_by_day') }}" role="button">
          DELETE WORKOUTS
        </a>
        {% endif %}
        <a class="btn btn-outline-primary" href="{{ url_for('profile') }}" role="button">
          PROFILE
        </a>
        <a class="btn btn-outline-primary" href="{{ url_for('user_stats') }}" role="button">
          STATISTICS
        </a>
        <a class="btn btn-back" href="{{ url_for('logout') }}" role="button">
          LOGOUT
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bottom-bar">
  <a class="btn btn-add-workout btn-block" href="{{ url_for('dashboard') }}" role="button" aria-expanded="false">Dashboard</a>
</div>
{% endblock %}
