<!-- Selettore Slider per i Mesi -->

<div class="month-slider d-flex justify-content-center align-items-center mb-4">
    <a 
        id="prevMonth" 
        class="btn btn-outline-warning btn-arrow me-2" 
        href="{{ url_for('select_workout_date', day=prev_day.day, month=prev_day.month, year=prev_day.year) }}"
        ><i class="bi bi-chevron-double-left"></i>
    </a>
    
        <span id="currentMonth" class="mx-3">{{date.strftime("%d %B %Y").title()}}</span>
    
    <a 
        id="nextMonth" 
        class="btn btn-outline-warning btn-arrow ms-2"
        href="{{ url_for('select_workout_date', day=next_day.day, month=next_day.month, year=next_day.year) }}"
        ><i class="bi bi-chevron-double-right"></i>
    </a>

    
</div>

<div class="days-slider d-flex justify-content-center align-items-center mb-4">
  
    <div class="weekdays d-flex">
        {% for day in weekdays %}
            <div class="d-flex flex-column align-items-center mx-1">
                
                <!-- Lettera del giorno -->
                <span class="mb-1 fw-bold">
                    {{ day.strftime("%A")[0].upper() }}
                </span>

                <!-- Bottone giorno -->
                {% if day == date %}
                    <a href="{{ url_for('select_workout_date', day=day.day, month=day.month, year=day.year) }}"
                       class="btn btn-sm btn-primary slider-botton">
                        {{ day.strftime("%d") }}
                    </a>
                {% else %}
                    <a href="{{ url_for('select_workout_date', day=day.day, month=day.month, year=day.year) }}"
                       class="btn btn-sm btn-outline-primary slider-botton">
                        {{ day.strftime("%d") }}
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
</div>


{% set months = [
    "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", 
    "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"
] %}

<!-- Popup per selezione anno e mese -->
<div id="monthYearPicker" class="popup" style="display: none;">
    <label for="yearSelect" class="form-label">Anno:</label>
    <select id="yearSelect" class="form-select mb-3">
        <option value="{{date.year}}">{{date.year}}</option>
        <option value="{{date.year-1}}">{{date.year-1}}</option>
        <option value="{{date.year-2}}">{{date.year-2}}</option>
        <option value="{{date.year-3}}">{{date.year-3}}</option>
    </select>
    <label for="monthSelect" class="form-label">Mese:</label>
    <select id="monthSelect" class="form-select mb-3">
        {% for i in range(12) %}
            <option value="{{i}}">{{  months[i]  }}</option>
        {% endfor %}
    </select>
    <label for="monthSelect" class="form-label ">Giorno:</label>
    <select id="daySelect" class="form-select">
        {% for i in range(30) %}
            <option value="{{i + 1}}">{{  i + 1  }}</option>
        {% endfor %}
    </select>
    <a id="setMonthYear" class="btn btn-primary mt-3" href="{{ url_for('select_workout_date', day=date.day, month=date.month, year=date.year) }}">Imposta</a>
</div>



<!-- JavaScript per il selettore di mesi -->
<script>
    
    const popup = document.getElementById("monthYearPicker");
    const yearSelect = document.getElementById("yearSelect");
    const monthSelect = document.getElementById("monthSelect");
    const setMonthYearButton = document.getElementById("setMonthYear");
    const currentMonthElement = document.getElementById("currentMonth");
    const today = new Date();
    let selectedMonth = 1;
    let selectedYear = today.getFullYear();
  
    function checkFutureDates() {
        const selectedYear = parseInt(yearSelect.value);
        
        // Abilita tutti i mesi
        for (let i = 0; i < monthSelect.options.length; i++) {
            monthSelect.options[i].disabled = false;
        }

        // Disabilita i mesi successivi al mese attuale nell'anno corrente
        if (selectedYear === today.getFullYear()) {
            for (let i = today.getMonth() + 1; i < monthSelect.options.length; i++) {
                monthSelect.options[i].disabled = true;
            }
        }
    }

    currentMonthElement.addEventListener("click", () => {
        popup.style.display = "block";
        //checkFutureDates(); // Controllo per disabilitare i mesi futuri
    });

    yearSelect.addEventListener("change", () => {
        selectedYear = event.target.value;
        updateMonthYearLink(selectedMonth, selectedYear)
    });
    monthSelect.addEventListener("change", () => {
        selectedMonth = event.target.value+1;
        updateMonthYearLink(selectedMonth, selectedYear)
    });

    

    window.addEventListener("click", (event) => {
        if (event.target === popup) {
            popup.style.display = "none";
        }
    });

    function updateMonthYearLink(month, year) {
        const link = `/dashboard/date/${month}/${year}`;
        setMonthYearButton.href = link;
    }

</script>

<!-- Stile CSS per il selettore e popup -->
<style>
    .month-slider {
        text-align: center;
    }

    ì.btn-arrow {
        border-radius: 50%;
    }

    #currentMonth {
        font-size: 1.5rem;
        color: #f5f5f5;
        cursor: pointer;
    }

    .popup {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        border: #ffffff 1px solid;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .form-label {
        color: #f5f5f5;
        font-weight: bold;
    }

    .form-select {
        background-color: #161616;
        color: #f5f5f5;
        border: none;
        border-radius: 5px;
    }

    #setMonthYear {
        background-color: #ffffff;
        color: #000000;
        border: 1 px solid #ffffff;
    }
</style>
